---
title: "Danilo's Thoughts"
layout: default
---

<div class="row">
  {% assign articles = site.articles | sort: 'date_num' | reverse %}
  {% for article in articles %}
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-150 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="d-inline-flex">
            <strong class="mb-2 text-primary">{{article.group}}</strong>
            {% if {{article.date_str}} != "" %}
              <div class="text-slash">/</div>
              <div class="mb-1 text-muted">{{article.date_str}}</div>
            {% endif %}
          </div>
          <h3><a class="mb-0 card-title btn-link" href="{{article.url}}">{{article.title}}</a></h3>
          
          <p class="card-text">{{article.summary}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>